@{
    ViewBag.Title = "Docker Compose Home";
}

<div class="text-center">
    <h1 class="display-4">Docker Compose Generator</h1>
    <p>Manage your Docker Compose files easily.</p>
  @*   <a href="@Url.Action("Create", "DockerCompose")" class="btn btn-primary">Create Docker Compose</a>
    <a href="@Url.Action("Read", "DockerCompose")" class="btn btn-secondary">Read Docker Compose</a>
    <a href="@Url.Action("RunToCompose", "DockerCompose")" class="btn btn-secondary">Convert Run Docker to Docker Compose</a> *@
    <a href="@Url.Action("CreateUsingUI", "DockerCompose")" class="btn btn-secondary">Start</a>
</div>
