@model Docker_Compose_Generator.Models.DockerComposeCreateDto

<h2>Create Docker Compose</h2>

<form asp-action="Create" method="post">
    <div id="networks">
        <h4>Networks</h4>
        @await Component.InvokeAsync("NetworkList", new { networks = Model.Networks })
    </div>
   @*  <div>
        <h4>Services</h4>
        @await Component.InvokeAsync("ServiceList", new { services = Model.Services })
    </div>
    <div>
        <h4>Volumes</h4>
        @await Component.InvokeAsync("VolumeList", new { volumes = Model.Volumes })
    </div> *@

    <button type="submit">Create</button>
</form>
